.item_title{
	color: #0000FF;
	font-size: 18px;
}
.item_time{
	font-size: 12px;
	align-self:flex-end;
}
.box{
	padding: 2vw;
	display: flex;
	flex-direction: column;
	cursor: pointer;  
	border-bottom: 1px solid #dcdcdc;
}

